<%- include("./partials/header.ejs") %> 
<main role="main" class="flex-shrink-0">
  <div class="container">
    <h1 class="mt-5">View - For customers with no plan only</h1>
    <p class="lead">You have not yet purchased any plan. </p>
    <p>Update the content on this page by editing the ./views/none.ejs file</p>
    <p><a href="/">Account Dashboard</a></p>
  </div>
</main>
<%- include("./partials/footer.ejs") %> 