<%- include("./partials/header.ejs") %> 
<main role="main" class="flex-shrink-0">
  <div class="container">
    <h1 class="mt-5">View - For Pro plan customers only</h1>
    <p class="lead">If you're able to view this page - Success! You have purchased the Pro plan. </p>
    <p>Update the content on this page by editing the ./views/pro.ejs file</p>
    <p><a href="/">Account Dashboard</a></p>
  </div>
</main>
<%- include("./partials/footer.ejs") %> 